//- title
if config.page.title
	title= config.page.title + " - " + config.title
else
	title= config.title

meta(charset="UTF-8")
meta(content="width=device-width, initial-scale=1" name="viewport")

if config.noIndex
	meta(content="none" name="robots")

if config.page.description
	meta(content=config.page.description + " | " + config.description name="description")
else
	meta(content=config.description name="description")

if config.color
	meta(content=config.color name="theme-color")
else
	meta(content="#ffffff" name="theme-color")

//- favicon
link(
	type="image/svg+xml"
	href="/img/favicon.svg"
	rel="shortcut icon"
)

//- open graph
if config.og
	meta(content=config.og.title name="og:title")
	meta(content=config.og.image name="og:image")

//-twitter card
if config.twitter
	meta(content="summary" name="twitter:card")
	meta(content=config.twitter.creator name="twitter:site")
	meta(content=config.twitter.creator name="twitter:creator")

//- styles
block css
	link(href="/css/main.css" rel="stylesheet")
block styles
