block meta

if page.title
    title=page.title
else
    title=project.name

meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1")

if page.noIndex
    meta(name="robots" content="noindex")

if page.description
    meta(name="description" content=page.description)
else
    meta(name="description" content=page.title)

if project.color    
    meta(name="theme-color" content=project.color)

//- favicon
link(rel="shortcut icon" href="/img/favicon.png" type="image/x-icon")

//- open graph
if page.og.title
    meta(name="og:title" content=page.og.title)
else
    meta(name="og:title" content=project.og.title)

if page.og.url
    meta(name="og:url" content=page.og.url)
else
    meta(name="og:url" content=project.og.url)

if page.og.image
    meta(name="og:image" content=page.og.image)
else
    meta(name="og:image" content=project.og.image)

//-twitter card
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@kikeldmitry")
meta(name="twitter:creator" content="@kikeldmitry")

//- styles
block css
    link(rel="stylesheet" href="/css/main.css")
block styles

